@import "src/assets/scss/variables";

.postManagementWrap {
  background: $colorWhite;
  padding: 10px;
  border-radius: 4px;

  .mainWrap {
    .headerMainWrap {
      margin-bottom: 16px;
    }
  }
}

