@import "../../assets/scss/variables";

// .headerWrap {
//   @apply p-6 border-b border-gray-95 text-xl font-semibold
// }

.headerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainWrap {
  @apply p-8
}


