@import "src/assets/scss/variables";

.labelWrap {
  margin-bottom: 6px;

  .required {
    color: red;
  }
}

.inputWrap {
  margin-bottom: 16px;
}

.buttonWrap {

  display: flex;
  justify-content: center;

  button {
    height: 43px;
    min-width: 198px;
    margin: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: $colorBackgroundButton;
    color: $colorWhite;
  }

  // display: flex;
  // justify-content: space-evenly;

  // .button {
  //   width: 100%;
  //   color: white;
  //   background-color: #2B3847;
  //   // margin-right: 16px;
  // }
}
