@import "src/assets/scss/variables";

.profileWrap {
  .profileItem {
    background: $colorWhite;
    border-radius: 4px;
    padding: 0;
    margin-bottom: 20px;

    .informationWrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-block-end: 1px solid $colorBorderDefault;
      padding: 15px;

      // .avatarWrap {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   border: 1px dashed #d9d9d9;
      //   border-radius: 50%;
      //   cursor: pointer;

      //   &:hover {
      //     border-color: #1677ff;
      //   }

      //   .btnChangeImage {
      //     display: flex;
      //     position: relative;
      //     width: 100px;
      //     height: 100px;
      //     object-fit: contain;
      //     border-radius: 50%;

      //     .btnImage{}

      //     .btnChangeCamera {
      //       display: flex;
      //       position: absolute;
      //       background-color: #f0f0f5;
      //       // background-color: red;
      //       transition: all 0.3s;
      //       bottom: 0;
      //       right: 0;
      //       border-radius: 50%;
      //       padding: 6px;
      //       opacity: 0.7;

      //       &:hover {
      //         opacity: 1;
      //       }
      //       .btnChangeCameraIcon {
      //         display: contents;
      //         justify-content: center;
      //         justify-content: center;
      //         transform: translateY(50%);
      //         font-size: 1.5rem;
      //       }
      //     }
      //   }
      // }
      .avatarWrap {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 102px;
        height: 102px;

        .btnChangeImage {
          display: flex;
          width: 102px;
          height: 102px;

          .btnImage {
            width: 102px;
            height: 102px;
            border-radius: 50%;
            border: 1px dashed #d9d9d9;
            &:hover {
              border-color: #1677ff;
            }
            .btnImageIcon {
              // width: 102px;
              // height: 102px;
              width: calc(102px - 16px);
              height: calc(102px - 18px);
              transform: translate(10%, 10%);
              object-fit: contain;
              border-radius: 50%;
            }
          }
        }

        .btnChangeCamera {
          display: flex;
          position: absolute;
          background-color: #f0f0f5;
          border: 1px dashed #d9d9d9;
          transition: all 0.3s;
          bottom: 0;
          right: 0;
          border-radius: 50%;
          margin: -6px;
          padding: 6px;
          opacity: 0.8;

          &:hover {
            opacity: 1;
            border-color: #1677ff;
          }
          .btnChangeCameraIcon {
            display: contents;
            justify-content: center;
            justify-content: center;
            transform: translateY(50%);
            font-size: 1.5rem;
          }
        }
      }

      .infoWrap {
        margin-left: 15px;

        .name {
          font-size: 18px;
          margin-bottom: 5px;
          color: $colorBlack;
        }

        .bod {
          color: $colorNote;
        }
      }
    }

    .tabWrap {
      padding: 0 10px;
    }
  }
}
